<div class="main">

	<div class="topline">

	    <div class="credits">
	        <a href='https://www.theguardian.com/profile/katharine-murphy'>Katharine Murphy</a>,
	        <a href='https://www.theguardian.com/profile/gabrielle-chan'>Gabrielle Chan</a>,
	        <a href='https://www.theguardian.com/profile/amy-remeikis'>Amy Remeikis</a> and
	        <a href='https://www.theguardian.com/profile/paul-karp'>Paul Karp</a>
	    </div>

	    <div class="btns-share">
	    	<button class="btn-tt sharible" data-source="twitter"></button> 
	    	<button class="btn-fb sharible" data-source="facebook"></button>
	    </div>

	</div>

	<div class="interactive-nav">
		<div class='interactive-nav__inner'>
			Jump to
			{{#groups}}
				<a href="#policy-{{@index}}" data-jump-to='policy-{{@index}}'>{{group}}</a>
			{{/groups}}
		</div>
	</div>

	{{#groups}}
	<div class='policy-group' id="policy-{{@index}}" data-scroll>
		<div class="policy-group__header">
			<div class='policy-group__header__text'>
				<h2 style='color:{{highlight}}' class='policy-group__header__text__title'>{{group}}</h2>
				<p class='policy-group__header__text__description'>{{intro}}</p>
			</div>
			<div class='policy-group__header__visual'>
				{{#if image}}<img class='policy-group__header__visual__image' src='{{image}}'>{{/if}}
				<div class='policy-group__header__visual__bar bar-1' style='background-color:{{highlight}}'></div>
				<div class='policy-group__header__visual__bar bar-2' style='background-color:{{highlight}}'></div>
				<div class='policy-group__header__visual__bar bar-3' style='background-color:{{highlight}}'></div>
				<div class='policy-group__header__visual__bar bar-4' style='background-color:{{highlight}}'></div>
			</div>
		</div>
		{{>cardstack}}
		<div class='pagination'></div>
	</div>

	{{/groups}}

	<div class='article-footer'>
		<div class='article-footer__wrap-up'><p>{{{wrapup}}}</p></div>
		<div class='article-footer__end-notes'><p>{{{endnotes}}}</p></div>
	</div>
</div>
